.odd {
    background-color: rgb(244, 164, 207);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second {
    color: rgb(66, 30, 247);
    font-size: 36px;
}

.odd .third {
    font-size: 24px;
}

#fourth {
    background-color: rgb(93, 191, 119);
    font-size: 24px;
    font-weight: bold;
}